*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.shadow{
    box-shadow:  rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#ui{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 30px;
}
#ui div{
    background-color: white;
    text-align: center;
    border-radius: 6px;
    padding: 15px;
}
#ui div img{
    width:150px;
    height:200px;
    margin: auto;
    padding: 15px;
}


#ui div h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}

#ui div h4{
    font-weight: 900;
    margin: 5px 0px 0px;
    font-size:18px;
    color: #8231d3;
}

#ui div h5{
    color: rgb(116, 116, 116);

}

#ui .btns {
    display: flex;
    justify-content: space-between;
}

#ui .btns button{
    margin: 5px;
    padding: 10px;
    background-color: #8231d3;
    color: white;
    border-radius: 6px;
    width: 50%;
    font-size: 14px;
}

.cart{
    padding: 20px;
}

.cart h1{
    font-size: 25px;
    margin-left: 31px;
    margin-bottom: 15px;
    font-weight: 500;
}

.cart .box{
    width: 95%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid;
    background-color: white;
}

.cart .box tbody td{
    padding: 15px;
    text-align: center;
}

.cart .box tbody td div{
    display: flex;
    align-items: center;
}

.cart .box tbody td .div1 p{
    padding-left: 15px;
}

.cart .box tbody td .div1 .img{
    height: 80px;
    width: 80px;
}

.cart tbody .div2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cart tbody .div2 button{
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #E5E7EB;
}